<div class="page-header">
  <h1>People</h1>
</div>

<% @nodes.each do |node| %>
  <% node_id = $neo.get_id(node) %>
  <div class="well">
    <h3><%= node['data']['name'] %></h3>
    <p>
      Member of: 
      <%
        memberships = $neo.get_node_relationships(node, "out", "MEMBER_OF").map do |membership|
          "#{$neo.get_node(membership['end'])['data']['name']}: #{membership['data']['role']} (#{membership['data']['status']})"
        end
      %>
    <%= memberships.join(', ') %>
    </p>
  </div>

  <dl>
    <% node['data'].each do |key, value| %>
      <dt><%= key %></dt>
      <dd><%= value %></dd>
    <% end %>
  </dl>
<% end %>

